{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "max-len": ["off"],
    "no-alert": ["off"],
    "no-console": ["off"],
    "prefer-template": ["off"],
    "semi": ["error", "always"],
    "react/require-extension": "off",
    "camelcase": "off",
    "quotes": "off",
    "indent": "off",
    "no-confusing-arrow": "off",
    "arrow-parens": "off",
    "no-await-in-loop": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "import/order": "warn",
    "class-methods-use-this": "warn",
    "operator-linebreak": "off",
    "consistent-return": "warn",
    "no-nested-ternary": "warn",
    "react/no-string-refs": "off",
    "react/no-unused-state": "warn",
    "react/static-property-placement": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "warn",
    "react/state-in-constructor": "off",
    "react/sort-comp": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-wrap-multilines": "off",
    "max-classes-per-file": "off"
  },
  "env": { "jest": true, "node": true, "browser": true, "jasmine": true },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["."]
      }
    }
  }
}
