@font-face {
  font-family: "Ringside Wide A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideWide-Light_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideWide-Light_Web.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ringside Wide A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideWide-Bold_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideWide-Bold_Web.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ringside Regular A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-Book_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-Book_Web.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ringside Regular A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-BookItalic_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-BookItalic_Web.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ringside Regular A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-Bold_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-Bold_Web.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ringside Regular A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-BoldItalic_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideRegular-BoldItalic_Web.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ringside Extra Wide SSm A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideExtraWideSSm-Black_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideExtraWideSSm-Black_Web.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Ringside Compressed A";
  src: url("https://cdn.elizabethwarren.com/_public/fonts/RingsideCompressed-Bold_Web.woff2")
      format("woff2"),
    url("https://cdn.elizabethwarren.com/_public/fonts/RingsideCompressed-Bold_Web.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@import url("https://p.typekit.net/p.css?s=1&k=yli8oct&ht=tk&f=13464.13465.13466.13467&a=17365283&app=typekit&e=css");
@font-face {
  font-family: "freight-text-pro";
  src: url("https://use.typekit.net/af/ac6334/000000000000000000012059/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ac6334/000000000000000000012059/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ac6334/000000000000000000012059/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "freight-text-pro";
  src: url("https://use.typekit.net/af/5464d5/00000000000000000001205a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5464d5/00000000000000000001205a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5464d5/00000000000000000001205a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "freight-text-pro";
  src: url("https://use.typekit.net/af/04ec74/00000000000000000001205b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/04ec74/00000000000000000001205b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/04ec74/00000000000000000001205b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "freight-text-pro";
  src: url("https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8cf83d/00000000000000000001205c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}
